# Ignore everything by default
# *

# Allow only specific file extensions
!*.vi
!*.vim
!*.lvproj
!*.ctl
!*.lvclass
!*.lvlib
!*.xctl
!*.json
!*.JSON
!*.txt
!*.ini
!*.viancfg
!*.md
!*.ps1 
!*.vit
!*.gitmodules

# Ensure Git tracks folders (but not their ignored contents)
# !*/

# Ignore the specif folders
docs/
ext/