# Ignore everything by default
*

# Allow directories to be included
!*/

# Allow only specific file extensions
!*.vi
!*.vim
!*.vit
!*.lvproj
!*.ctl
!*.lvclass
!*.lvlib
!*.xctl
!*.json
!*.JSON
!*.txt
!*.ini
!*.viancfg
!*.md
!*.ps1
!*.bat
!*.gitmodules
!*.gitignore
