# Ignore everything by default
*


# Allow only specific file extensions
!*.vi
!*.vim
!*.vit
!*.lvproj
!*.ctl
!*.lvclass
!*.lvlib
!*.xctl
!*.json
!*.JSON
!*.txt
!*.ini
!*.viancfg
!*.md
!*.ps1
!*.bat 
!*.vit
!*.gitmodules
!*.gitignore